{% extends "base.html" %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Task Master</h1>

    <table class="table">
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created }}</td>
                <td>
                    <a href="" class="button update">Update</a>
                    <a href="" class="button delete">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/" method="post">
        <input type="text" name="content" id="content" maxlength="255" placeholder="Task Content..." class="input">
        <input type="submit" value="Add Task" class="button submit">
    </form>
</div>
{% endblock %}